FRSJavaSeClient/xml-resources/web-service-references/FlightReservationWebService/wsdl/localhost_8080/FlightReservationWebService/FlightReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="FlightReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/FlightReservationWebService/FlightReservationWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/FlightReservationWebService/FlightReservationWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="reserveFlight">
<part name="parameters" element="tns:reserveFlight"/>
</message>
<message name="reserveFlightResponse">
<part name="parameters" element="tns:reserveFlightResponse"/>
</message>
<message name="retrieveFlightReservationByID">
<part name="parameters" element="tns:retrieveFlightReservationByID"/>
</message>
<message name="retrieveFlightReservationByIDResponse">
<part name="parameters" element="tns:retrieveFlightReservationByIDResponse"/>
</message>
<message name="FlightReservationNotFoundException">
<part name="fault" element="tns:FlightReservationNotFoundException"/>
</message>
<portType name="FlightReservationWebService">
<operation name="reserveFlight">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/reserveFlightRequest" message="tns:reserveFlight"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/reserveFlightResponse" message="tns:reserveFlightResponse"/>
</operation>
<operation name="retrieveFlightReservationByID">
<input wsam:Action="http://ws.session.ejb/FlightReservationWebService/retrieveFlightReservationByIDRequest" message="tns:retrieveFlightReservationByID"/>
<output wsam:Action="http://ws.session.ejb/FlightReservationWebService/retrieveFlightReservationByIDResponse" message="tns:retrieveFlightReservationByIDResponse"/>
<fault message="tns:FlightReservationNotFoundException" name="FlightReservationNotFoundException" wsam:Action="http://ws.session.ejb/FlightReservationWebService/retrieveFlightReservationByID/Fault/FlightReservationNotFoundException"/>
</operation>
</portType>
<binding name="FlightReservationWebServicePortBinding" type="tns:FlightReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reserveFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveFlightReservationByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FlightReservationNotFoundException">
<soap:fault name="FlightReservationNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightReservationWebService">
<port name="FlightReservationWebServicePort" binding="tns:FlightReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/FlightReservationWebService/FlightReservationWebService"/>
</port>
</service>
</definitions>